---
import MainLayout from "../../components/MainLayout.astro";
import { fetchEpisodes } from "../../lib/Airtable";
import { getImageUrlForEpisode } from "../../lib/helpers";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const posts = await fetchEpisodes();
  const pageData = posts.map((post, index) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        title: post.title,
        subtitle: post.subtitle,
        //@ts-ignore
        body: post.body,
        image: post.image,
        date: post.date,
        index: index,
        posts: posts,
      },
    };
  });
  return pageData;
}
const { slug } = Astro.params;
const { title, subtitle, body, date, image, index, posts } = Astro.props;
---

<MainLayout title={title}>
  <main class="episode">
    <article>
      <h1>{title}</h1>
      <p class="subtitle">{subtitle}</p>
      <p>{dayjs(date).format("D MMMM YYYY")}</p>
      <img src={getImageUrlForEpisode(posts[index], "large")} alt="image" />

      <div class="content" set:html={body}></div>
    </article>
    <div class="flex justify-content-between">
      {
        posts[index - 1] ? (
          <a href={"/episodes/" + posts[index - 1].slug}>Previous episode</a>
        ) : (
          <div />
        )
      }
      {
        posts[index + 1] ? (
          <a href={"/episodes/" + posts[index + 1].slug}>Next episode</a>
        ) : (
          <div />
        )
      }
    </div>
  </main>
</MainLayout>
