---
import MainLayout from "../../components/MainLayout.astro";
import { fetchEpisodes, Episode } from "../../lib/Airtable";
import dayjs from "dayjs";
import GizImage from "../../components/GizImage.astro";

const posts: Array<Episode> = await fetchEpisodes();
const seasons = [1, 2, 3, 4, 5, 6, 7];
---

<MainLayout
  title="Gizmo Girls - Episodes"
  description="Episodes page for Gizmo Girls: A blog about the interaction between Gilmore Girls and technology."
>
  <main class="episodes">
    <h1>Episodes</h1>

    <div>
      {
        seasons.map((season) => {
          return (
            <div class="season">
              <h3>Season {season}</h3>
              <div>
                {posts
                  .filter((e) => e.seasonNumber === season)
                  .map((p) => (
                    <div>
                      <a href={"/episodes/" + p.slug} class="episode-list-item">
                        <div>
                          <GizImage
                            post={p}
                            size="small"
                            altText={p.imageAlt}
                          />
                          <h3>{p.title}</h3>
                        </div>
                        <p>{dayjs(p.date).format("D MMMM YYYY")}</p>
                      </a>
                    </div>
                  ))}
                {posts.filter((e) => e.seasonNumber === season).length === 0
                  ? "Coming soon . . ."
                  : null}
              </div>
            </div>
          );
        })
      }
    </div>
  </main>
</MainLayout>
