---
import MainLayout from "../../components/MainLayout.astro";
import { fetchEpisodes, Episode } from "../../lib/Airtable";

const posts: Array<Episode> = await fetchEpisodes();
---

<MainLayout title="Gizmo Girls - Episodes">
  <main>
    <h1>Episodes</h1>
    <div>
      {
        posts
          .sort((p1, p2) =>
            p1.date > p2.date ? -1 : p1.date == p2.date ? 0 : 1
          )
          .map((p) => (
            <div>
              <a href={"/episodes/" + p.slug}>
                <img src={p.image.thumbnails.small.url} alt="image" />
                <h3>{p.title}</h3>
                <p>{p.subtitle}</p>
              </a>
            </div>
          ))
      }
    </div>
  </main>
</MainLayout>
