---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <main>
    <h1>About</h1>
    <p>
      This is a blog about the interaction between the Gilmore Girls TV show and
      technology.
    </p>
    <p>
      Writer and showrunner Amy Sherman-Palladino was famously a luddite,
      eschewing new technology.
    </p>
    <p>
      However, writing a television show during a period of great technological
      change between 1999 and 2007, it was impossible for ignore technology
      entirely.
    </p>
    <p>Created and written by Hugh Haworth</p>
  </main>
</MainLayout>
