---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout title="Gizmo Girls: About" description="About page for Gizmo Girls">
  <main>
    <h1>About</h1>
    <p>
      This is a blog about the interaction between the Gilmore Girls TV show and
      technology.
    </p>
    <p>
      Writer and showrunner Amy Sherman-Palladino famously eschewed new
      technology.
    </p>
    <p>
      However, writing a television show during a period of great technological
      change between 1999 and 2007, it was impossible for her to ignore
      technology entirely.
    </p>
    <p>
      By <a href="https://www.elliotclyde.nz">Hugh Haworth</a>
    </p>
  </main>
</MainLayout>
