---
import MainLayout from "../components/MainLayout.astro";
import { fetchEpisodes, Episode } from "../lib/Airtable";
import dayjs from "dayjs";
import GizImage from "../components/GizImage.astro";

const posts: Array<Episode> = await fetchEpisodes();
---

<MainLayout
  title="Gizmo Girls"
  description="Gizmo Girls: A blog about the interaction between Gilmore Girls and technology."
>
  <main class="home">
    <h1 class="title">Gizmo Girls</h1>
    <p class="subtitle">
      A blog about the interaction between Gilmore Girls and technology.
    </p>
    <section id="subscribe-block">
      <p>
        Subscribe via <a href="/rss.xml">RSS</a> or <a
          href="#"
          id="subscribe-link">Email</a
        >
      </p>
    </section>
    <h2>Recent episodes</h2>
    <section class="home-episode-list">
      {
        posts
          .sort((p1, p2) =>
            p1.date > p2.date ? -1 : p1.date == p2.date ? 0 : 1
          )
          .slice(0, 30)
          .map((p) => (
            <article>
              <a href={"/episodes/" + p.slug}>
                <div class="info">
                  <h3>{p.title}</h3>
                  <p>{p.subtitle}</p>
                  <p>{dayjs(p.date).format("D MMMM YYYY")}</p>
                </div>
                <GizImage post={p} size="large" altText={p.imageAlt} />
              </a>
            </article>
          ))
      }
    </section>
    <a href="/episodes">More episodes</a>
  </main>
  <script>
    const subscribeEndpoint =
      "https://gizmosubscription2.azurewebsites.net/api/managesubscription?code=vKCNSJaCBQNmjHvRuDHgAG4R0wGwrweBSl0V6IMhSzgsAzFuSwMyFg==";
    document.getElementById("subscribe-link").addEventListener("click", () => {
      if (!document.getElementById("subscribe-modal-wrapper")) {
        document.getElementById("subscribe-block").insertAdjacentHTML(
          "beforeend",
          `<div class="modal-wrapper" id="subscribe-modal-wrapper">
        <div class="subscribe-modal">
          <div>
            <button id="subscribe-modal-close" class="modal-close">⨉</button>
          </div>
          <form action="#" method="post" id="subscribe-form">
            <h2>Subscribe to Gizmo Girls</h2>
            <p>About one email a month. 😊</p>
            <label for="subscribe-email-input">Email</label>
            <input
              type="email"
              name="email"
              id="subscribe-email-input"
              required
            />
            <input type="submit" value="Subscribe" />
          </form>
        </div>
      </div>`
        );
        document
          .getElementById("subscribe-form")
          .addEventListener("submit", async (e) => {
            e.preventDefault();

            const emailInput = document.getElementById(
              "subscribe-email-input"
            ) as HTMLInputElement;
            const res = await fetch(subscribeEndpoint, {
              method: "POST",
              headers: { "content-type": "application/json" },
              body: JSON.stringify({
                email: emailInput.value,
                action: "subscribe",
              }),
            });
            const text = await res.text();
            document.getElementById("subscribe-form").outerHTML =
              (text === "success"
                ? `<h2>Successfully subscribed!</h2><p>Welcome to the party!</p>`
                : `<h2>Oops! Error subscribing.</h2><p>Something wrong might have happened there.</p>`) +
              `<button id="subscribe-modal-close2" class="modal-close">Close</button>`;

            document
              .getElementById("subscribe-modal-close2")
              .addEventListener("click", () => {
                document.getElementById("subscribe-modal-wrapper").outerHTML =
                  "";
              });
          });

        document
          .getElementById("subscribe-modal-close")
          .addEventListener("click", () => {
            document.getElementById("subscribe-modal-wrapper").outerHTML = "";
          });
        document
          .getElementById("subscribe-modal-wrapper")
          .addEventListener("click", (e) => {
            const wrapper = e.target as HTMLElement;
            if (wrapper.id === "subscribe-modal-wrapper") {
              document.getElementById("subscribe-modal-wrapper").outerHTML = "";
            }
          });
      }
    });
  </script>
</MainLayout>
