---
import MainLayout from "../components/MainLayout.astro";
import { fetchEpisodes, Episode } from "../lib/Airtable";
import { getImageUrlForEpisode } from "../lib/helpers";
import dayjs from "dayjs";

const posts: Array<Episode> = await fetchEpisodes();
---

<MainLayout title="Gizmo Girls">
  <main class="home">
    <h1 class="title">Gizmo Girls</h1>
    <p class="subtitle">
      A blog about the interaction between Gilmore Girls and technology.
    </p>
    <h2>Recent episodes</h2>
    <div class="home-episode-list">
      {
        posts
          .sort((p1, p2) =>
            p1.date > p2.date ? -1 : p1.date == p2.date ? 0 : 1
          )
          .slice(0, 30)
          .map((p) => (
            <article>
              <a href={"/episodes/" + p.slug}>
                <div class="info">
                  <h3>{p.title}</h3>
                  <p>{p.subtitle}</p>
                  <p>{dayjs(p.date).format("D MMMM YYYY")}</p>
                </div>
                <img src={getImageUrlForEpisode(p, "medium")} alt="image" />
              </a>
            </article>
          ))
      }
    </div>
    <a href="/episodes">More episodes</a>
  </main>
</MainLayout>
