---
---

<style>
  footer {
    margin-top: auto;

    background-color: var(--autumn-darkish);
    color: var(--autumn-white);
  }
  footer > div {
    width: min(90vw, 50rem);
    margin: 0 auto;
    padding: 2em 0;
  }
  footer p {
    font-size: var(--font-size-sm);
    margin: 0;
    text-align: center;
    opacity: 70%;
  }
</style>
<footer>
  <div>
    <p>Gizmo Girls ©️ (writing)</p>
    <p>The CW ©️ (images)</p>
  </div>
</footer>
