---
---

<style>
  nav {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1em;
    background-color: var(--autumn-darkish);
  }
  nav > div {
    width: min(90vw, 50rem);
    margin: 0 auto;
  }
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 -2rem;
  }
  li {
    list-style-type: none;
  }
  a {
    padding: 1rem 2em 1rem 2em;
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: var(--autumn-whitish-saturated);
  }
  a:hover,
  a:focus {
    color: var(--autumn-white);
    background-color: var(--autumn-dark);
  }
  @media (max-width: 50rem) {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }
</style>
<nav>
  <div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/episodes">Episodes</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
