---
import Header from "../components/Header.astro";
import Footer from "./Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
